* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #FFF3E0;
}
body, input, button {
    font-family: 'EB Garamond', serif;
}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;
    
}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.input_section > h2 {
    text-align: center;
    color: #1d1e1a;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: #6a5257;
    color: white;
    border: 0;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}



.input_section > form > .input > label {
    color: #1d1e1a;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: #1d1e1a;
    font-weight: bold;
    margin-right: 10px;
}

.search_section {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 1px solid #1d1e1a;
    border-radius: 5px;
}

.search_section > h2 {
    color: #1d1e1a;
}

.search_section > form {
    padding: 16px;
    width: 100%;
    display: grid;
    place-items: center;
}

.search_section > form > input {
    width: 70%;
    padding: 5px;
    border-radius: 5px;
}

.book_shelf {
    margin: 16px 0 0 0;
    border: 1px solid #1d1e1a;
    padding: 16px;
    border-radius: 10px;
}

.book_shelf > h2 {
    color: #1d1e1a;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    border: 1px solid #1d1e1a;
    border-radius: 5px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 5px;
    cursor: pointer;
}

.book_shelf > .book_list > .book_item > .action > .green {
    background-color: #366058;
    color: white;
}

.book_shelf > .book_list > .book_item > .action > .red {
    background-color: #b76b56;
    color: white;
}
